@page
@using ContosoCrafts.WebSite.Components
@model AboutModel
@{
    ViewData["Title"] = "About Red Hawks Team";
}
<h1>@ViewData["Title"]</h1>

<h2>Team Members</h2>
<ul>
    <li>Shiva Chaithanya</li>
    
    <li>Pranindhar Reddy</li>
</ul>

<h2>The Red Hawks Team Project</h2>
