@page
@using ContosoCrafts.WebSite.Components
@model AboutModel
@{
    ViewData["Title"] = "About the Red Hawks Team";
}

<h1>@ViewData["Title"]</h1>

<h2>Team Members</h2>
<ul>
    <li>Shiva Chaithanya</li>
    <li>Pranindhar reddy</li>
</ul>

<h2>The Red Hawks Team Project</h2>
<p>
    Our team project is to modify the Contoso Crafts website into a reader-centric, it is about the school donations. Our organization provides the platform to the school to get donations form all around the world
</p>
<p>
    There are numerous avenues for future development and site enhancement to help readers get the most out of the site.  